[global]
log_level = 'info'

[mode]

[mode.clients]
enabled = true
refresh = true
misbehaviour = true

[mode.connections]
enabled = true

[mode.channels]
enabled = true

[mode.packets]
enabled = true
clear_interval = 100
clear_on_start = true
tx_confirmation = true

[telemetry]
enabled = true
host = '127.0.0.1'
port = 3001

[rest]
enabled = true
host    = '127.0.0.1'
port    = 3000

[[chains]]
id = 'earth'
rpc_addr = 'http://127.0.0.1:26657'
grpc_addr = 'http://127.0.0.1:9095'
websocket_addr = 'ws://127.0.0.1:26657/websocket'
account_prefix = 'cosmos'
address_type = { derivation = 'cosmos' }
key_name = 'alice'
store_prefix = 'ibc'
gas_price = { price = 0.01, denom = 'stake' }
max_gas = 10000000
clock_drift = '5s'
trusting_period = '14days'
trust_threshold = { numerator = '1', denominator = '3' }

[[chains]]
id = 'mars'
rpc_addr = 'http://127.0.0.1:26658'
grpc_addr = 'http://127.0.0.1:9097'
websocket_addr = 'ws://127.0.0.1:26658/websocket'
rpc_timeout = '10s'
account_prefix = 'cosmos'
address_type = { derivation = 'cosmos' }
key_name = 'bob'
store_prefix = 'ibc'
gas_price = { price = 0.01, denom = 'stake' }
max_gas = 10000000
clock_drift = '5s'
trusting_period = '14days'
trust_threshold = { numerator = '1', denominator = '3' }